<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-info my-5">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Mobile-Brands</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <form class="d-flex">
              <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Add Brands</button>
            </form>
          </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mobile Name</th>
            <th scope="col">Mobile Model</th>
            <th scope="col">Mobile Make</th>
            <th scope="col">Mobile Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Samsung</td>
            <td>J7</td>
            <td>China</td>
            <td>$200</td>
            <td>
                <input type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Edit" class="btn btn-outline-dark mx-2">
                <input type="button" value="Delete" class="btn btn-outline-dark">
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>I-phone</td>
            <td>14-pro-max</td>
            <td>Apple</td>
            <td>$5000</td>
            <td>
                <input type="button" value="Edit" class="btn btn-outline-dark mx-2">
                <input type="button" value="Delete" class="btn btn-outline-dark">
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@fat</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>